
.abbb {
    padding: 3em 0 3em 0;
  }
  
  .abbb.wg-blank {
    align-items: center;
    justify-content: center;
  }
  
  .abbb.wg-blank .content {
    text-align: center;
  }
  
  .abbb > .content {
    width: 45em;
    max-width: calc(100% - 4em);
    margin: 0 auto;
  }
  
  .abbb > .content > :last-child {
    margin-bottom: 0;
  }
  
  .abbb header {
    margin-bottom: 1em;
  }
  
  .abbb .wg-blank h2 {
    font-size: 1.25em;
    line-height: 1.25em;
    letter-spacing: -0.05em;
  }
  
  @media (min-width: 1200px) {
    .abbb .container {
      max-width: 880px;
    }
  }
  @media (min-width: 992px){
    .abbb .container {
      max-width: 880px;
    }
  }